body{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.homebg{
    background-size: 2400px;
    background-position: bottom;
    background-image: url('../assets/img/background1.jpg')
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}
.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}
.footer2{
    bottom: 39px;
    left: 5px;
    right: 5px;
    height: 25px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
}
